body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 130px;
    background: #c53364;
    background-size: cover;
}
body h1{
    color: white;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 240px;
    background-color: rgb(255, 255, 255, 0.1);
}

.cell {
    width: 80px;
    height: 80px;
    background: darkgray;
    border: 1px solid #ccc;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}
.cell:hover{
    background-color: lightgray;
}
.message {
    font-size: 1.5em;
    margin-top: 20px;
    color: aliceblue;
}

.reset-button {
    font-size: 1em;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}